<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="ru.alexeypan.wordcards.words"
  >

  <application>
    <activity
      android:name="ru.alexeypan.wordcards.words.ui.WordListActivity"
      android:screenOrientation="${screenOrientation}"
      />
    <activity
      android:name=".WordsActivity"
      android:screenOrientation="${screenOrientation}"
      />
  </application>
</manifest>
